{% extends "base.html.twig" %}

{% block body %}

	{% for image in product.image %}

		<img src="{{ asset('media/' ~ image.src) }}" alt="{{ image.alt }}">

	{% endfor %}
	<h1>{{ product.name }}</h1>
	<h2>{{ product.price }}</h2>
	<h2>{{ product.stock }}</h2>

	<h3>{{ product.category.name }}</h3>
	<h3>{{ product.licence.name }}</h3>

{% endblock %}
